input {
    width: 75px;
    height: 70px;
    font-size: 30px;
    border-radius: 10px;
    margin: 10px;
    background-color:black;
    color: white;
    border-style: none;
}

#myForm {
    margin-left: 225px;
    margin-top: 20px;
}

h1 {
    /*text-align: center;*/
    font-size: 50px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: 235px;
    font-family: sans-serif;
}

#container {
    display: flex;  
    flex-wrap: wrap;
}

#text-display {
    width: 375px; 
    height: 70px; 
    text-align: center; 
    background-color: #1f80c9;
}